.head {
  font-size: 1.25rem;
}

.header {
  font-size: 2.25rem;

  &__title {
    font-weight: bold;
  }

  &__link {
    color: white;

    &--active,
    &:hover {
      text-decoration: none;
      color: var(--warning);
    }
  }

}

